#activity-blocks  {

  .button {
    background: @darkblue;
    color: @white;
  }

  .activity {

    overflow: hidden;
    background-color: @bgGray;
    position: relative;
    margin-bottom: @gutter*2;
    height: 350px;
    background-size: cover;

    @media @tabletC {
      height: 200px;
    }

    @media @desktopC {
      height: 300px;
    }

    .cover {
      display: block;
      position: absolute;
      .cover();
    }

    .meta {

      position: absolute;
      .cover();
      padding-top: 100px;

      .title {

        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 36px;
        color: @white;

      }

    }

    .structure {
      visibility: hidden;
    }

  }

}