#activity-blocks  {

  .activity {

    border: 3px solid @gold;
    overflow: hidden;
    background-color: @bgGray;
    position: relative;
    margin-bottom: @gutter*2;
    height: 350px;
    background-size: cover;
    box-shadow: inset 0 0 0 5px @darkblue;

    @media @tabletC {
      height: 200px;
    }

    @media @desktopC {
      height: 300px;
    }

    .cover {
      display: block;
      position: absolute;
      .cover();
    }

    .meta {

      position: absolute;
      .cover();

    }

    .structure {
      visibility: hidden;
    }

  }

}