.page-header  {

  padding: 100px 0 20px;
  border-bottom: 4px solid rgba(255,255,255,.1);

  h1 {
    color: @gold;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
  }

}