.page-content {

  padding: 0 0 50px;
  color: @white;
  font-size: 26px;
  .brandon();

  p, ul {
    color: @white75;
    line-height: 1.4;
  }

  a {
    color: @white;
    border-bottom: 1px solid @white25;
    &:hover {
      border-color: @white50;
    }
  }

  h1,h2,h3,h4,h5,h6 {
    color: @white;
  }

}

.page-homepage {

  .page-content {

    padding-top: 100px;
    padding-bottom: 80px;

    .content {
      float: none;
      margin: auto;
      text-align: center;
    }

    h3 {
      font-size: 28px;
    }

  }
}