#partners {

  p {
    color: @white;
    a {
      color: @white;
    }
  }

  .partner {
    border-right: 2px solid rgba(255,255,255,.1);
    border-bottom: 2px solid rgba(255,255,255,.1);
    &.last {
      border-right: none;
    }
    &.bottom {
      border-bottom: none;
    }
  }

}