#partners {

  p {
    color: @white;
    a {
      color: @white;
    }
  }

  .partner {
    border-right: 2px solid rgba(255,255,255,.1);
    border-bottom: 2px solid rgba(255,255,255,.1);
    &.last {
      border-right: none;
    }
    &.bottom {
      border-bottom: none;
    }
  }

}

.text-partners {

  padding-top: 25px;

  > div {

    margin-bottom: @gutter*2;

  }

  a {

    display: block;
    background: rgba(255,255,255,.1);
    height: 80px;
    line-height: 80px;
    color: @white;
    border-radius: 3px;

  }

}