body {

  background-color: @darkblue;

  &.main {

    height: 3000px;
    background: @darkblue url('/assets/img/bbb_bg.jpg') top center no-repeat;
    background-size: contain;
    background-attachment: fixed;

  }

}

#content {

  padding-top: 50px;

}


.aligncenter {
  float: none;
  display: block;
  margin: auto;
}