body {

  background-color: @darkblue;

  &.main {

    background: @darkblue url('/assets/img/bbb_bg-dark.jpg') top center no-repeat;
    background-size: contain;

    &.page-homepage {

      background: @darkblue url('/assets/img/bbb_bg.jpg') top center no-repeat;
      background-size: contain;


    }

  }

}

#content {

  padding-top: 50px;

}


#footer {

  padding-bottom: 50px;
  text-align: center;

}


.aligncenter {
  float: none;
  display: block;
  margin: auto;
}