.side {

	&-menu {

		transition: 300ms ease;
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 300px;
		z-index: 99;
		background: @gold;
		transform: translate(-100%, 0);

		&.fs-swap-active {
			transform: translate(0, 0);			
		}

	}

	&-wrapper {
		padding: 25px;
	}

	&-nav {
		padding-top: 50px;
		position: relative;
		a {
			display: block;
			padding: 3px 0;
			color: @white;
			&.show-mobile {
				display: inline-block;
				transform: rotate(45deg);
				position: absolute;
				top: 0;
				color: @black25;
				cursor: pointer;
				.font_size(24);
				&:hover {
					color: @black50;
				}
			}
		}
	}

}